{% extends "AdminArea/admin_header.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>Dashboard</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
    
        <!-- [ Main Content ] start -->

<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
       <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">AdminArea</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'AdminArea:AdminDashboard' %}">Home</a></li>
                            <li class="breadcrumb-item">Event</li>
                            <li class="breadcrumb-item">Event List</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- subscribe start -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Event List</h4>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6 text-end">
                                <a class="btn btn-success btn-sm mb-3 btn-round" href="{% url 'AdminArea:ScheduleEvent' %}"><i class="feather icon-plus"></i> Add Events</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="report-table" class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Date</th>
                                        <th>Event Place</th>
                                        <th>Time</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in AllEvents %}
                                    <tr>
                                        <td>{{i.event_name}}</td>
                                        <td>{{i.event_date}}</td>
                                        <td>{{i.event_place}}</td>
                                        <td>{{i.event_time}}</td>
                                        <td>
                                            <a href="#!" class="btn btn-success btn-sm">{{i.event_status}}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subscribe end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
  
    <script src="{% static 'AdminArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/pcoded.min.js' %}"></script>
   
<!-- Apex Chart -->
<script src="{% static 'js/plugins/apexcharts.min.js' %}"></script>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'js/pages/dashboard-sale.js' %}"></script>
{% endblock content %}
</body>


</html>
