{% extends "AdminArea/admin_header.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>Dashboard</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
    
        <!-- [ Main Content ] start -->

<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">AdminArea</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'AdminArea:AdminDashboard' %}">Home</a></li>
                            <li class="breadcrumb-item">Faculty Leave</li>
                            <li class="breadcrumb-item">Faculty View Leave Request</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- customar project  start -->
            {% for i in ApplyLeaveRequest %}
            <div class="col-12">
                <div class="card">
                    <div class="card-body border-bottom py-3">
                        <div class="row align-items-center justify-contact-between">
                            <div class="col">
                                <h5 class="m-0"><i class="material-icons-two-tone f-20 text-primary"></i>Student ID : {{i.faculty_user_id}}</h5>
                            </div>
                            
                            <div class="col text-end d-inline-block">
                            <form action="{% url 'AdminArea:FacultyLeaveRequest' %}" method="POST">{% csrf_token %}
                                <input type="hidden" name="leave_pk" value="{{i.pk}}">
                                <button type="submit" name="btn-status" value="Approw" class="btn btn-outline-success"><i class="me-2" data-feather="check-circle"></i>Approw</button>
                            </form>
                            <div class="col text-end d-inline-block mt-2">
                            <form action="{% url 'AdminArea:ViewLeaveRequest' %}" method="POST">{% csrf_token %}
                                <input type="hidden" name="leave_pk" value="{{i.pk}}">
                                <button type="submit" name="btn-status" value="Reject" class="btn btn-outline-danger"><i class="me-2" data-feather="slash"></i>Reject</button>
                            </form>
                        </div>
                    </div>
                </div>
                    <a href="#!" class="card-body border-bottom py-3">
                        <div class="row justify-content-sm-between align-items-center">
                            <div class="col-sm-5 mb-3 mb-sm-0 align-middle">
                                <img src="{{i.faculty_user.photo.url}}" alt="contact-img" title="contact-img" class="rounded me-3" height="60" />
                                <div class="m-0 d-inline-block align-middle font-16">
                                    <h6 class="d-inline-block m-0 text-truncate">{{i.full_name}}</h6>
                                    <br />
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500">{{i.Leave_catagory}}</span> </p>
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500">{{i.Leave_day}}&nbsp;Days</span> </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="mb-3 mb-sm-0"><i class="material-icons-two-tone f-20 text-primary"></i>From Date :<br>{{i.from_date}}</h5>
                            </div>
                            <div class="col-sm-5">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <h5 class="mb-3 mb-sm-0"><i class="material-icons-two-tone f-20 text-primary"></i>To Date: <br>{{i.to_date}}</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class=" d-inline-block">
                                            <small class="text-muted">{{i.Leave_reason}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
            <!-- customar project  end -->
        </div>
        
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
  
    <script src="{% static 'AdminArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/pcoded.min.js' %}"></script>
   
<!-- Apex Chart -->
<script src="{% static 'js/plugins/apexcharts.min.js' %}"></script>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'js/pages/dashboard-sale.js' %}"></script>
{% endblock content %}
</body>


</html>
