{% extends "AdminArea/admin_header.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
	
        <!-- [ Main Content ] start -->

<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">AdminArea</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item">Student Attandence</li>
                            <li class="breadcrumb-item">View Attandence</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- subscribe start -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Student Attendence List </h5>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-sm-6">
                            	<button class="btn btn-info btn-sm mb-3 btn-round dissabled">From Date : &nbsp; {{fromdate}}</button>
                            	<button class="btn btn-info btn-sm mb-3 btn-round dissabled">To Date : &nbsp; {{todate}}</button>
                            </div>
                           <div class="col-sm-6 text-end">
                                <button class="btn btn-info btn-sm mb-3 btn-round ">Batch : &nbsp; {{batch_for}}</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="report-table" class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>A/P</th>
                                        <th>Faculty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in StudentList %}
                                    <tr>
                                        <td>{{i.take_date}}</td>
                                        <td>{{i.student.fname}}&nbsp;{{i.student.mname}}</td>
                                        <td>{{i.student.mobile}}</td>
                                        {% if i.ap == 'A' %}
                                        <td>
                                            <button class="btn btn-success btn-sm dissabled text-white">Absent</button>
                                        </td>
                                        {% else %}
                                        <td>
                                            <button class="btn btn-danger btn-sm dissabled text-white">Present</button>
                                        </td>
                                        {% endif %}

                                        {% if i.admin_user %}
                                        <td>{{i.admin_user.fname}}&nbsp;{{i.admin_user.mname}}</td>
                                        {% endif %}

                                        {% if i.faculty_user %}
                                        <td>{{i.faculty_user.first_name}}&nbsp;{{i.faculty_user.middel_name}}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subscribe end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

    <script src="{% static 'AdminArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/pcoded.min.js' %}"></script>

<!-- Apex Chart -->
<script src="{% static 'js/plugins/apexcharts.min.js' %}"></script>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'js/pages/dashboard-sale.js' %}"></script>
{% endblock content %}
</body>


<!-- Mirrored from dashboardkit.io/bootstrap/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Mar 2021 09:37:34 GMT -->
</html>
