{% extends "FacultyArea/FacultyHeader.html" %}
{% block faculty_content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'AdminArea/images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'AdminArea/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'AdminArea/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'AdminArea/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'AdminArea/css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'AdminArea/css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
	
        <!-- [ Main Content ] start -->

<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">FacultyArea</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'FacultyArea:FacultyDashborad' %}">Home</a></li>
                            <li class="breadcrumb-item">Salary Detailes</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] start -->

         {% for i in salary %}
            <div class="card text-white bg-white " style="margin-top:70px;">
                    <div class="card-body border-bottom py-3">
                        <div class="row align-items-center justify-contact-between">
                            <div class="col">
                                <h5 class="m-0 text-"><i class="material-icons-two-tone f-20 text-primary"></i>Last Salary Summary</h5>
                            </div>
                        </div>
                    </div>
                        <div class="row justify-content-sm-between align-items-center">
                            <div class="col-md-4 col-sm-4 mb-3 mb-sm-0 align-middle">
                                <div class="p-4 d-inline-block align-middle font-16">
                                    <h6 class="d-inline-block m-0 text-truncate text-primary">Month</h6>
                                    <br>
                                     <button type="button" class="btn btn-outline-primary disabled"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle me-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>{{i.month}}</button>
                                </div>
                            </div>
                             <div class="col-md-4 col-sm-4 mb-3 mb-sm-0 align-middle">
                                <div class="p-4 d-inline-block align-middle font-16">
                                    <h6 class="d-inline-block m-0 text-truncate text-success">Amount</h6>
                                    <br>
                                     <button type="button" class="btn btn-outline-success disabled"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle me-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>{{i.amount}}/-</button>
                                </div>
                            </div>
                             <div class="col-md-4 col-sm-4 mb-3 mb-sm-0 align-middle">
                                <div class="p-4 d-inline-block align-middle font-16">
                                    <form action="{% url 'AdminArea:PrintSalaryInvoice' %}" method="POST">
                                            {% csrf_token %} 
                                    <h6 class="d-inline-block m-0 text-truncate text-danger">Invoice</h6>
                                    <br>
                                    <input type="hidden" name="pk" value="{{i.pk}}">
                                    <button type="submit" class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle me-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>View Invoice</button>
                                     </form>
                                </div>
                            </div>


                                  
                        
                </div>
                
                <!-- end fees -->

            </div>
            {% endfor %}
        <div class="row">
            <!-- subscribe start -->
              <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Paid Salary
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="report-table" class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>FID</th>
                                        <th>Month</th>
                                        <th>Amount</th>
                                        <th>payment Date</th>
                                        <th>payment Type</th>
                                        <th>Invoice Num</th>
                                        <th>Invoice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in Salarysdetails %}
                                    <tr>
                                        <td>{{i.faculty_user_id}}</td>
                                        <td>{{i.month}}</td>
                                        <td>{{i.amount}}</td>
                                        <td>{{i.payment_date}}</td>
                                        <td>{{i.payment_type}}</td>
                                        <td>{{i.recipt_no}}</td>
                                        
                                        <td>
                                             <form action="{% url 'FacultyArea:PrintInvoice' %}" method="POST">
                                            {% csrf_token %} 
                                                <input type="hidden" name="pk" value="{{i.pk}}">
                                                <button type="submit" class="btn btn-success btn-sm" target="blank">Download</button> 
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subscribe end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

    <!-- Required Js -->
    <script src="{% static 'AdminArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/pcoded.min.js' %}"></script>
   
<!-- Apex Chart -->
<script src="{% static 'AdminArea/js/plugins/apexcharts.min.js' %}"></script>
<div class="pct-customizer">
    <div class="pct-c-btn">
        <button class="btn btn-light-danger" id="pct-toggler">
            <i data-feather="settings"></i>
        </button>
        <button class="btn btn-light-primary" data-bs-toggle="tooltip" title="Document" data-placement="left">
            <i data-feather="book"></i>
        </button>
        <button class="btn btn-light-success" data-bs-toggle="tooltip" title="Buy Now" data-placement="left">
            <i data-feather="shopping-bag"></i>
        </button>
        <button class="btn btn-light-info" data-bs-toggle="tooltip" title="Support" data-placement="left">
            <i data-feather="headphones"></i>
        </button>
    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'AdminArea/js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'AdminArea/js/pages/dashboard-sale.js' %}"></script>
{% endblock faculty_content %}
</body>


<!-- Mirrored from dashboardkit.io/bootstrap/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Mar 2021 09:37:34 GMT -->
</html>
