{% extends "FacultyArea/FacultyHeader.html" %}
{% block faculty_content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'AdminArea/images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'AdminArea/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'AdminArea/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'AdminArea/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'AdminArea/css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'AdminArea/css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
	
        <!-- [ Main Content ] start -->

<div class="pc-container">
    <div class="pcoded-content">

        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">FacultyArea</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'FacultyArea:FacultyDashborad' %}">Home</a></li>
                            <li class="breadcrumb-item">Leave</li>
                            <li class="breadcrumb-item">View Leave</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% for i in YourAllLeave %}
            {% if i.status == 'Approw' %}
            <div class="col-12 mt-4">
                <div class="card text-white bg-success">
                    <div class="card-body border-bottom py-3">
                        <div class="row align-items-center justify-contact-between">
                            <div class="col">
                                <h5 class="m-0 text-white"><i class="material-icons-two-tone f-20 text-primary"></i>Faculty ID : {{i.faculty_user_id}}</h5>
                            </div>
                            <div class="col text-end">
                                <button type="button" class="btn btn-outline-dark disabled"><i class="me-2" data-feather="check-circle"></i>Approved</button>
                            </div>
                        </div>
                    </div>
                    <a href="#!" class="card-body border-bottom py-3">
                        <div class="row justify-content-sm-between align-items-center">
                            <div class="col-sm-5 mb-3 mb-sm-0 align-middle">
                                <img src="{{Faculty.photo.url}}" alt="contact-img" title="contact-img" class="rounded me-3" height="60" />
                                <div class="m-0 d-inline-block align-middle font-16">
                                    <h6 class="d-inline-block m-0 text-truncate text-white">{{i.full_Name}}</h6>
                                    <br />
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500 text-white">{{i.Leave_catagory}}</span> </p>
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500 text-white">{{i.Leave_day}}&nbsp;Days </span> </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="mb-3 mb-sm-0 text-white"><i class="material-icons-two-tone f-20 text-primary text-white"></i>From Date :<br>{{i.from_date}}</h5>
                            </div>
                            <div class="col-sm-5">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <h5 class="mb-3 mb-sm-0 text-white"><i class="material-icons-two-tone f-20 text-primary text-white"></i>To Date: <br>{{i.to_date}}</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class=" d-inline-block text-white">
                                            <small class="d text-white">{{i.Leave_reason}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% elif i.status == 'Rejected' %}

            <!-- reject -->
             <div class="col-12 mt-4">
                <div class="card text-white bg-danger">
                    <div class="card-body border-bottom py-3">
                        <div class="row align-items-center justify-contact-between">
                            <div class="col">
                                <h5 class="m-0 text-white"><i class="material-icons-two-tone f-20 text-primary"></i>Faculty ID : {{i.student_id}}</h5>
                            </div>
                            <div class="col text-end">
                                <button type="button" class="btn btn-outline-dark disabled"><i class="me-2" data-feather="check-circle"></i>{{i.status}}</button>
                            </div>
                        </div>
                    </div>
                    <a href="#!" class="card-body border-bottom py-3">
                        <div class="row justify-content-sm-between align-items-center">
                            <div class="col-sm-5 mb-3 mb-sm-0 align-middle">
                                <img src="{{Faculty.photo.url}}" alt="contact-img" title="contact-img" class="rounded me-3" height="60" />
                                <div class="m-0 d-inline-block align-middle font-16">
                                    <h6 class="d-inline-block m-0 text-truncate text-white">{{i.full_Name}}</h6>
                                    <br />
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500 text-white">{{i.Leave_catagory}}</span> </p>
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500 text-white">{{i.Leave_day}}&nbsp;Days </span> </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="mb-3 mb-sm-0 text-white"><i class="material-icons-two-tone f-20 text-primary text-white"></i>From Date :<br>{{i.from_date}}</h5>
                            </div>
                            <div class="col-sm-5">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <h5 class="mb-3 mb-sm-0 text-white"><i class="material-icons-two-tone f-20 text-primary text-white"></i>To Date: <br>{{i.to_date}}</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class=" d-inline-block text-white">
                                            <small class="d text-white">{{i.Leave_reason}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}       
        {% endfor %}
    </div>
</div>

    <!-- Required Js -->
    <script src="{% static 'AdminArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/pcoded.min.js' %}"></script>
   
<!-- Apex Chart -->
<script src="{% static 'AdminArea/js/plugins/apexcharts.min.js' %}"></script>
<div class="pct-customizer">
    <div class="pct-c-btn">
        <button class="btn btn-light-danger" id="pct-toggler">
            <i data-feather="settings"></i>
        </button>
        <button class="btn btn-light-primary" data-bs-toggle="tooltip" title="Document" data-placement="left">
            <i data-feather="book"></i>
        </button>
        <button class="btn btn-light-success" data-bs-toggle="tooltip" title="Buy Now" data-placement="left">
            <i data-feather="shopping-bag"></i>
        </button>
        <button class="btn btn-light-info" data-bs-toggle="tooltip" title="Support" data-placement="left">
            <i data-feather="headphones"></i>
        </button>
    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'AdminArea/js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'AdminArea/js/pages/dashboard-sale.js' %}"></script>
{% endblock faculty_content %}
</body>


<!-- Mirrored from dashboardkit.io/bootstrap/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Mar 2021 09:37:34 GMT -->
</html>
