{% extends "FacultyArea/FacultyHeader.html" %}
{% block faculty_content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>Dashboard</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
    
        <!-- [ Main Content ] start -->

<div class="pc-container">
    <div class="pcoded-content">
       <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">FacultyArea</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'AdminArea:AdminDashboard' %}">Home</a></li>
                            <li class="breadcrumb-item">Student Attendence</li>
                            <li class="breadcrumb-item"> View Attendence</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>View Student Attendece</h5>
                    </div>
                    
                    <div class="card-body">
                        <div class="row">
                            {% if SuccessMsg %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>{{SuccessMsg}}.</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                            {% if FailedMsg %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>{{FailedMsg}}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                        {% endif %}
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                            <form class="login100-form validate-form" enctype="multipart/form-data" action="{% url 'FacultyArea:ViewAttendance' %}" method="POST">
                                    {% csrf_token %}
                            </div>
                           <div class="col-md-12">
                               <div class="form-group">
                                            <label class="form-label" for="exampleFormControlSelect1">Class</label>
                                            <select class="form-control" id="exampleFormControlSelect1" name="class_for">
                                                <option value="">Choose Course Name</option>
                                                <option value="fashion">Fashion Design</option>
                                                <option value="texttile">Texttile Design</option>
                                                <option value="graphic">Graphic Design</option>
                                                <option value="jewellery">Jewellery Design</option>
                                                <option value="fineArt">Fine Art</option>
                                            </select>
                                    </div>
                            </div>
                              <div class="row">
                                <div class="form-group col-md-6">
                                   <button type="submit" class="btn btn-success"><i class="me-2" data-feather="check-circle"></i>Save</button>
                                </div>
                            </div> 

                        </div>
                </form>
         </div>
        </div>
            {% if mylist %}

            <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Add Batch</h5>
                    </div>
                    
                    <div class="card-body">
                        <div class="row">
                            {% if SuccessMsg %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>{{SuccessMsg}}.</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                            {% if FailedMsg %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>{{FailedMsg}}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                        {% endif %}
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                            <form class="login100-form validate-form" enctype="multipart/form-data" action="{% url 'AdminArea:FillStudentAttendence' %}" method="POST">
                                    {% csrf_token %}
                            </div>
                           <div class="col-md-12">
                               <div class="form-group">
                                            <label class="form-label" for="exampleFormControlSelect1">Batch</label>
                                            <select class="form-control" id="exampleFormControlSelect1" name="batch_for">
                                                <option value="">Choose Course Name</option>
                                                {% for i in mylist %}
                                                <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
                                            </select>
                                </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label" for="exampleInputfile1">Date</label>
                                    <input type="date" class="form-control" required id="exampleInputdate" name="date" placeholder="Date">
                                </div>
                            </div>
                            </div>
                              <div class="row">
                                <div class="form-group col-md-6">
                                   <button type="submit" class="btn btn-success"><i class="me-2" data-feather="check-circle"></i>Save</button>
                                </div>
                            </div> 
                        </div>
                </form>
         {% endif %}

                 
        <!-- [ Main Content ] end -->
        </div>
        </div>
        </div>
        {% block Attendencecontent %}
        {% endblock Attendencecontent %}
    </div>
</div>
<!-- [ Main Content ] end -->
  
     <script src="{% static 'AdminArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/pcoded.min.js' %}"></script>
   
<!-- Apex Chart -->
<script src="{% static 'js/plugins/apexcharts.min.js' %}"></script>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'js/pages/dashboard-sale.js' %}"></script>
{% endblock faculty_content %}
</body>


</html>
