{% extends "StudentArea/StudentHeader.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'StudentArea//fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'StudentArea/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'StudentArea/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'StudentArea/css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'StudentArea/css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
	
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">StudentArea</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'StudentArea:StudentDashboard' %}">Home</a></li>
                            <li class="breadcrumb-item">Certificate</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- subscribe start -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Certificate List </h5>
                    </div>
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table id="report-table" class="table table-bordered table-striped mb-0">
                               {% if MyCertificateList %}
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>SID</th>
                                        <th>Course</th>
                                        <th>Date</th>
                                        <th>Gread</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                        {% for i in MyCertificateList %}
                                        <tr>
                                            <td>
                                                {% if i.student.photo %}
                                                <img src="{{i.student.photo.url}}" class="img-radius" width="30px" height="30px">
                                                {% endif %}
                                            </td>
                                            <td>{{i.student.fname}}&nbsp;{{i.student.mname}}&nbsp;{{i.student.lname}}</td>
                                            <td>{{i.student.sid}}</td>
                                            <td>{{i.student.course_type}}</td>
                                            <td>{{i.take_date}}</td>
                                            <td>{{i.grade}}</td>
                                            <td>
                                                <a href="{{i.certificate_pdf.url}}" download class="btn btn-success btn-sm">Download</a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                </tbody>
                                        {% else %}
                                        <tr>
                                            <td>
                                               <h4 class="text-muted text-center">Panding Certificate</h4>
                                            </td>
                                        </tr>
                                        {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subscribe end -->
        </div>

        <!-- [ Main Content ] end -->
    </div>
</div>
 <!-- Section Ends -->
    <!-- Required Js -->
    <script src="{% static 'StudentArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/pcoded.min.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'StudentAreajs/plugins/apexcharts.min.js' %}"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'StudentArea/js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'StudentArea/js/pages/dashboard-sale.js' %}"></script>
{% endblock content %}
</body>

</html>
