{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Student Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'StudentArea/images/favicon-icon.png' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'StudentArea/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'StudentArea/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'StudentArea/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'StudentArea/css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'StudentArea/css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ Mobile header ] start -->
	<div class="pc-mob-header pc-header">
		<div class="pcm-logo">
			<img src="{% static 'StudentArea/images/logo-white.png' %}" alt="" class="logo logo-lg">
		</div>
		<div class="pcm-toolbar">
			<a href="#!" class="pc-head-link" id="mobile-collapse">
				<div class="hamburger hamburger--arrowturn">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
				<!-- <i data-feather="menu"></i> -->
			</a>
			<a href="" class="pc-head-link" id="headerdrp-collapse">
				
			</a>
			<a href="#!" class="pc-head-link" id="header-collapse">
				<i data-feather="more-vertical"></i>
			</a>
		</div>
	</div>
	<!-- [ Mobile header ] End -->

	<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="" class="b-brand p-4">
					<!-- ========   change your logo hear   ============ -->
					<img src="{% static 'StudentArea/images/logo-white.png' %}" alt="" class="logo logo-lg img-fluid wid-150">
					<img src="{% static 'StudentArea/images/logo-white.png' %}" alt="" class="logo logo-sm img-fluid wid-150">
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Dashboard</label>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="{% url 'StudentArea:StudentDashboard' %}" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Dashboard</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
					</li>
					<li class="pc-item pc-caption">
						<label>Student</label>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="{% url 'StudentArea:StudentProfile' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">account_circle</i></span><span class="pc-mtext">My Profile</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">domain_verification</i></span><span class="pc-mtext">Student Leave</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="{% url 'StudentArea:StudentApplyLeave' %}">Apply Leave</a></li>
							<li class="pc-item"><a class="pc-link" href="{% url 'StudentArea:StudentViewLeave' %}">View Leave</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">flaky</i></span><span class="pc-mtext">Student Attendence</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="{% url 'StudentArea:StudentViewAttendence' %}">View Attendece</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">account_balance_wallet</i></span><span class="pc-mtext">Student Fees</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="{% url 'StudentArea:StudentFeesDetaile' %}">Fees Detaile</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">table_view</i></span><span class="pc-mtext">Class Schedual</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="{% url 'StudentArea:StudentViewSchedual' %}">View Schedual</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">event</i></span><span class="pc-mtext">Notice Board</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="{% url 'StudentArea:StudentViewEvents' %}">Events</a></li>
						</ul>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="{% url 'StudentArea:StudentViewNotice' %}">Notice</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">assignment</i></span><span class="pc-mtext">Submition</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="{% url 'StudentArea:StudentViewSubmitions' %}">View Submitions</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="{% url 'StudentArea:StudentElibrary' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">auto_stories</i></span><span class="pc-mtext">E-library</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="{% url 'StudentArea:StudentCertificate' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">school</i></span><span class="pc-mtext">certificate</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="{% url 'StudentArea:StudentInsertSuggestion' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">assistant</i></span><span class="pc-mtext">Suggestion</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="{% url 'StudentArea:StudentLogout' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">logout</i></span><span class="pc-mtext">Logout</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="pc-header ">
		<div class="header-wrapper">
			<div class="ms-auto">
				<ul class="list-unstyled">
					<li class="dropdown pc-h-item">
						
						<div class="dropdown-menu dropdown-menu-end pc-h-dropdown drp-search">
							<form class="px-3">
								<div class="form-group mb-0 d-flex align-items-center">
									<i data-feather="search"></i>
									
								</div>
							</form>
						</div>
					</li>
					
					<li class="dropdown pc-h-item">
						<a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
							{% if request.session.studentphoto %}
							<img src="{{request.session.studentphoto}}" alt="user-image" class="user-avtar">
							{% endif %}
							<span>
								<span class="user-name">{{request.session.studentmname}}</span>
								<span class="user-desc">Student</span>
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
							<div class=" dropdown-header">
								<h5 class="text-overflow m-0"><span class="badge bg-light-success">Online</span></h5>
							</div>
							<a href="{% url 'StudentArea:StudentProfile' %}" class="dropdown-item">
								<i class="material-icons-two-tone">account_circle</i>
								<span>Profile</span>
							</a>
							<a href="{% url 'StudentArea:StudentChangePassword' %}" class="dropdown-item">
								<i class="material-icons-two-tone">vpn_key</i>
								<span>Change Password</span>
							</a>
							<a href="{% url 'StudentArea:StudentLogout' %}" class="dropdown-item">
								<i class="material-icons-two-tone">logout</i>
								<span>Logout</span>
							</a>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</header>

<!-- [ Main Content ] start -->

    <!-- Required Js -->
    <script src="{% static 'AdminArea/js/vendor-all.min' %}"></script>
    <script src="{% static 'StudentArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/pcoded.min.js' %}"></script>
   
    <!-- <script src="assets/js/plugins/clipboard.min.js"></script> -->
    <!-- <script src="assets/js/uikit.min.js"></script> -->

<!-- Apex Chart -->
<!-- <script src="{% static 'StudentArea/js/plugins/apexcharts.min.js' %}"></script> -->
<div class="pct-customizer">
    <div class="pct-c-btn">
        <button class="btn btn-light-danger" id="pct-toggler">
            <i data-feather="settings"></i>
        </button>
       
       
    </div>
    
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'StudentArea/js/%c3%a1%c2%bStudentArea/9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'StudentArea/js/pages/dashboard-sale.js' %}"></script>



{% block content %}

{% endblock content %}

</body>

</html>
