{% extends "StudentArea/StudentHeader.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'StudentArea//fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'StudentArea/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'StudentArea/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'StudentArea/css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'StudentArea/css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
	
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">StudentArea</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'StudentArea:StudentDashboard' %}">Home</a></li>
                            <li class="breadcrumb-item">Leave</li>
                            <li class="breadcrumb-item">View Leave</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% for i in YourAllLeave %}
            {% if i.status == 'Approw' %}
            <div class="col-12 mt-4">
                <div class="card text-white bg-success">
                    <div class="card-body border-bottom py-3">
                        <div class="row align-items-center justify-contact-between">
                            <div class="col">
                                <h5 class="m-0 text-white"><i class="material-icons-two-tone f-20 text-primary"></i>Student ID : {{i.student_id}}</h5>
                            </div>
                            <div class="col text-end">
                                <button type="button" class="btn btn-outline-dark disabled"><i class="me-2" data-feather="check-circle"></i>{{i.status}}</button>
                            </div>
                        </div>
                    </div>
                    <a href="#!" class="card-body border-bottom py-3">
                        <div class="row justify-content-sm-between align-items-center">
                            <div class="col-sm-5 mb-3 mb-sm-0 align-middle">
                                <img src="{{student.photo.url}}" alt="contact-img" title="contact-img" class="rounded me-3" height="60" />
                                <div class="m-0 d-inline-block align-middle font-16">
                                    <h6 class="d-inline-block m-0 text-truncate text-white">{{i.full_Name}}</h6>
                                    <br />
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500 text-white">{{i.Leave_catagory}}</span> </p>
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500 text-white">{{i.Leave_day}}&nbsp;Days </span> </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="mb-3 mb-sm-0 text-white"><i class="material-icons-two-tone f-20 text-primary text-white"></i>From Date :<br>{{i.from_date}}</h5>
                            </div>
                            <div class="col-sm-5">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <h5 class="mb-3 mb-sm-0 text-white"><i class="material-icons-two-tone f-20 text-primary text-white"></i>To Date: <br>{{i.to_date}}</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class=" d-inline-block text-white">
                                            <small class="d text-white">{{i.Leave_reason}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% elif i.status == 'Rejected' %}

            <!-- reject -->
             <div class="col-12 mt-4">
                <div class="card text-white bg-danger">
                    <div class="card-body border-bottom py-3">
                        <div class="row align-items-center justify-contact-between">
                            <div class="col">
                                <h5 class="m-0 text-white"><i class="material-icons-two-tone f-20 text-primary"></i>Student ID : {{i.student_id}}</h5>
                            </div>
                            <div class="col text-end">
                                <button type="button" class="btn btn-outline-dark disabled"><i class="me-2" data-feather="check-circle"></i>{{i.status}}</button>
                            </div>
                        </div>
                    </div>
                    <a href="#!" class="card-body border-bottom py-3">
                        <div class="row justify-content-sm-between align-items-center">
                            <div class="col-sm-5 mb-3 mb-sm-0 align-middle">
                                <img src="{{student.photo.url}}" alt="contact-img" title="contact-img" class="rounded me-3" height="60" />
                                <div class="m-0 d-inline-block align-middle font-16">
                                    <h6 class="d-inline-block m-0 text-truncate text-white">{{i.full_Name}}</h6>
                                    <br />
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500 text-white">{{i.Leave_catagory}}</span> </p>
                                    <p class="m-0 f-12 text-muted"><span class="f-w-500 text-white">{{i.Leave_day}}&nbsp;Days </span> </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="mb-3 mb-sm-0 text-white"><i class="material-icons-two-tone f-20 text-primary text-white"></i>From Date :<br>{{i.from_date}}</h5>
                            </div>
                            <div class="col-sm-5">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <h5 class="mb-3 mb-sm-0 text-white"><i class="material-icons-two-tone f-20 text-primary text-white"></i>To Date: <br>{{i.to_date}}</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class=" d-inline-block text-white">
                                            <small class="d text-white">{{i.Leave_reason}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}       
        {% endfor %}
    </div>
</div>
 Section Ends -->
    <!-- Required Js -->
    <script src="{% static 'StudentArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/pcoded.min.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'StudentAreajs/plugins/apexcharts.min.js' %}"></script>

<script>
    $('#pct-toggler').on('click', function() {
        $('.pct-customizer').toggleClass('active');
    });
    $('#cust-sidebrand').change(function() {
        if ($(this).is(":checked")) {
            $('.theme-color.brand-color').removeClass('d-none');
            $('.m-header').addClass('bg-dark');
        } else {
            $('.m-header').removeClassPrefix('bg-');
            $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo-dark.svg');
            $('.theme-color.brand-color').addClass('d-none');
        }
    });
    $('.brand-color > a').on('click', function() {
        var temp = $(this).attr('data-value');
        if (temp == "bg-default") {
            $('.m-header').removeClassPrefix('bg-');
        } else {
            $('.m-header').removeClassPrefix('bg-');
            $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo.svg');
            $('.m-header').addClass(temp);
        }
    });
    $('.header-color > a').on('click', function() {
        var temp = $(this).attr('data-value');
        if (temp == "bg-default") {
            $('.pc-header').removeClassPrefix('bg-');
        } else {
            $('.pc-header').removeClassPrefix('bg-');
            $('.pc-header').addClass(temp);
        }
    });
    $('#cust-sidebar').change(function() {
        if ($(this).is(":checked")) {
            $('.pc-sidebar').addClass('light-sidebar');
            $('.pc-horizontal .topbar').addClass('light-sidebar');
        } else {
            $('.pc-sidebar').removeClass('light-sidebar');
            $('.pc-horizontal .topbar').removeClass('light-sidebar');
        }
    });
    $('#cust-darklayout').change(function() {
        if ($(this).is(":checked")) {
            $("#main-style-link").attr("href", "assets/css/style-dark.css");
        } else {
            $("#main-style-link").attr("href", "assets/css/style.css");
        }
    });
    $.fn.removeClassPrefix = function(prefix) {
        this.each(function(i, it) {
            var classes = it.className.split(" ").map(function(item) {
                return item.indexOf(prefix) === 0 ? "" : item;
            });
            it.className = classes.join(" ");
        });
        return this;
    };
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'StudentArea/js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'StudentArea/js/pages/dashboard-sale.js' %}"></script>
{% endblock content %}
</body>

</html>
