{% extends "StudentArea/StudentHeader.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'StudentArea//fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'StudentArea/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'StudentArea/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'StudentArea/css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'StudentArea/css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    

</head>

<body class="">
	
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">StudentArea</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'StudentArea:StudentDashboard' %}">Home</a></li>
                            <li class="breadcrumb-item">E-Library</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
           

    <section id="layouts" class="theme-alt-bg">
        <div class="container">
            <div class="row justify-content-center">
                {% for i in AllBooks %}
                <div class="col-lg-4 col-md-6">
                    <div class="layout-block wow fadeInUp" data-wow-delay="0.2s" style="border: 2px solid darkblue; margin: 10px; border-radius: 20px; padding: 15px;">
                        <a href="#!" class="layout-img">
                            <img src="{% static 'AdminArea/images/book.jpg' %}" alt="" class="img-fluid">
                            <span class="overlay-action">
                                <i class="material-icons-two-tone"></i>
                            </span>
                        </a>
                        <h4 class="m-0">{{i.book_title}}</h4>
                        <a class="text-muted ml-4 btn btn-white btn-sm " href="{{i.book_pdf.url}}" download>Download</a>
                         <a href="{{i.book_link}}" target="blank" class="btn btn-sm  btn-primary">View Book</a><br /></p>
                    </div>
                </div>
                {% endfor %}
        </div>
    </section>
           
    </div>
        <!-- [ Main Content ] end -->

    </div>
</div>
 <!-- Section Ends -->
    <!-- Required Js -->
    <script src="{% static 'StudentArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'StudentArea/js/pcoded.min.js' %}"></script>
       <script src="{% static 'StudentArea/front/wow.min.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'StudentAreajs/plugins/apexcharts.min.js' %}"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'StudentArea/js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'StudentArea/js/pages/dashboard-sale.js' %}"></script>
{% endblock content %}
</body>

</html>
